<ul>
    <li>
        @Html.ActionLink(Resources.Administration.CatalogueMenu, "Index", "Catalogue", null, new { style = "cursor: pointer;" })
    </li>
    <li>
        @Html.ActionLink(Resources.Administration.UsersMenu, "Index", "Account",null, new { style = "cursor: pointer;" })
    </li>
</ul>