<html>
<head>
<title></title><meta http-equiv="Content-type" content="text/html;charset=utf-8" />       
    <style type="text/css">
        .style1
        {
            width: 36px;
        }
        .style2
        {
            width: 43px;
        }
    </style>
</head>
<body style="padding:10px 0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:18px;text-align:left;color:#666;">
    <table>
    <tr ><td height="50" colspan="2" style="text-indent: 40px;background-color: #0080C0;">&nbsp;<span style="font-size: medium;color: #FFFFFF;font-weight: bold;" >
    COTECNA INSPECTION</span></td></tr>
    <tr >
    <td class="style2"></td>
    <td >
        <p></p>
        <p>Dear User,<br /></p>
        <p >Your temporary password is: <b>{TEMPORAL_PASSWORD}</b></p> 
        <p >Please copy or click the following URL address in your browser. You will be prompted to enter the temporary password and your new and permanent password.</p>    
        <a href="http://localhost/VestalisV3/ForgetPassword/ChangePassword?{INSERT ENCRYPTED}">http://localhost/VestalisV3/ForgetPassword/ChangePassword?{INSERT ENCRYPTED}</a>
        <p >If you have not requested to reset your password please inform COTECNA Inspection SA</p>
        <p><span >Kind regards,</span><br class="style1" />
            <br  /></p>
       </td>
       </tr>
       <tr>
       <td class="style2" ></td>
       <td >
        <p >        
            <span style="font-weight: bold;" >The Cotecna Team</span><br />
            <span  >&quot;At your side&quot;</span><br  />
            <span  >www.cotecna.com</span>       
            <br />
        </p>
        <p></p>
    </td>   
    </tr>
    <tr><td colspan="2" height="30" style="background-color: #0080C0">&nbsp;</td></tr>
    </table>     
</body>
</html>