<html>
<head>
<title></title><meta http-equiv="Content-type" content="text/html;charset=utf-8" /></head>
<body style="padding:10px 0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:18px;text-align:left;color:#666;">
<table>
    <tr ><td height="50" colspan="2" style="text-indent: 40px;background-color: #0080C0;">&nbsp;<span style="font-size: medium;color: #FFFFFF;font-weight: bold;" >
    COTECNA INSPECTION</span></td></tr>
    <tr >
    <td></td>
    <td >
       <p>&nbsp;</p>
        <p>Dear Vestalis user,</p>
        <p><br />You have successfully changed your password.</p>
        <p>Please, go to the login screen and log on with your username and your new 
            password.<br /> <br />
    
        </p>
    <p>Thank you for your interest in our services.</p>
    <p>Sincerely yours,<br /><br /></p>
       </td>
       </tr>
       <tr>
       <td ></td>
       <td >
        <p >        
            <span style="font-weight: bold;" >The Cotecna Team</span><br />
            <span  >&quot;At your side&quot;</span><br  />
            <span  >www.cotecna-inspection.com</span>       
            <br />
        </p>
        <p></p>
    </td>   
    </tr>
    <tr>    
    <td colspan="2" style="background-color: #0080C0;border: "0";">
        <p style="font-size: xx-small;color: #FFFFFF;">About Cotecna,<br />
        Founded in Switzerland in 1974, the Cotecna group offers a wide range of trade facilitation services, trade security services and quality certification standards. Cotecna is a pioneer in areas such as risk management, destination inspection and scanner integration projects and also offers Customs modernization programmes, Customs valuation assistance, trade security solutions and commercial inspections. For a full description of our services, please visit www.cotecna.com. The Cotecna Group has a combined workforce of about 4,000 employees and agents in close to 100 offices.<br />
        Cotecna conducts verification and certification activities across a range of sectors, delivering leading-edge solutions for importers and exporters worldwide. Areas of particular expertise include: agricultural products, metals and minerals, chemical and petroleum products, marine surveys, industrial equipment surveys, vehicle inspections and consumer goods. Accredited laboratories and testing facilities ensure the delivery of high-quality, verifiable results.
        </p>
    
    </td></tr>
    </table>     
        
    
</body>
</html>