<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=uiosqldev01,1633;Initial Catalog=VESTALIS_V3;Persist Security Info=True;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="VestalisEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uiosqldev01,1633;initial catalog=VESTALIS_V3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="roles" value="GlobalAdministrator"/>
    <add key="users" value="adminGlobal|111111|GlobalAdministrator"/>
  </appSettings>
  <system.web>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    
    <profile inherits="Cotecna.Vestalis.Initalization.UserProfile, Cotecna.Vestalis.Initalization" defaultProvider="UserInfoProvider">
      <providers>
        <clear />
        <add name="UserInfoProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
