<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VestalisEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uiosqldev01,1633;initial catalog=VESTALIS3;user id=AppVestalis3; password=vestalis@2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>